<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="row justify-content-center">
    <div class="col-md-6 border p-4 shadow-sm bg-white">
        <h3 class="mb-4 text-primary" th:text="${artifact.id == null ? 'Thêm mới' : 'Cập nhật'}"></h3>

        <form th:action="@{/save}" th:object="${artifact}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label>Tên hiện vật:</label>
                <input type="text" th:field="*{name}" class="form-control">
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>

            <div class="form-group">
                <label>Nguồn gốc:</label>
                <input type="text" th:field="*{origin}" class="form-control">
                <p class="text-danger" th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></p>
            </div>

            <div class="form-group">
                <label>Ngày tiếp nhận:</label>
                <input type="date" th:field="*{date}" class="form-control">
                <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a th:href="@{/}" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>